*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
display: flex;
justify-content: center;
background-color: hsl(225, 100%, 94%);
align-items: center;
min-height: 100vh;
font-family:Red Hat Display ;
background-image: url('pattern-background-desktop.svg');
background-size:auto; 
background-repeat:no-repeat;
}

.illustration{
  height: auto;
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.container-1{
  width: 400px;
}

.container-2{
  border-radius: 0 0 10px 10px;
  background-color: whitesmoke;
  width: 400px;
  padding: 30px;
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.descript{
  color:hsl(224, 23%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.icon{
  margin-right: 10px;
  margin-bottom: 4px;
  width: 35px;
}

.order{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: hsl(226, 68%, 96%);
  margin-bottom:30px;
  margin-top: 10px;
}

.order-desc{
  vertical-align: middle;
  font-size: 15px;
}

a{
  font-size: 12px;
  margin-left: 120px;
  transition: color, text-decoration 0.3s;
}

a:hover{
  color:  hsl(267, 80%, 67%);
  text-decoration: none;
}

.payment-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:15px;
}

.button-1{
  width: 320px;
  height: 35px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: hsl(245, 75%, 52%);
  box-shadow: 0 8px 10px 0 rgba(68, 68, 185, 0.5);
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-1:hover{
background-color:rgb(132, 32, 219);
}

.cancel-order{
display: flex;
justify-content: center;
align-items: center;
}

.button-2{
  border: none;
  font-weight: 500;
  font-weight: 500;
  transition: font-weight 0.3s;
  cursor: pointer;
}

.button-2:hover{
  font-weight: 700;
}

/* Colors */
:root {
  /* Primary Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral Colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}